
<h3> View User Details</h3>
<div>
  <div>
    <label> <b> User ID: </b></label> {{user.id}}
  </div>
  <div>
    <label> <b> First Name: </b></label> {{user.firstName}}
  </div>
  <div>
    <label> <b> Last Name: </b></label> {{user.lastName}}
  </div>
  <div>
    <label> <b> Role: </b></label> {{user.role.name}}
  </div>


</div>
