<h2>User management</h2>
<button (click)="openCourseDetailsPage()" class="btn btn-primary">Details</button>
<button (click)="openRegisterCoursePage()" class="btn btn-primary">Create Course</button>
<button (click)="openEditCoursePage()" class="btn btn-primary">Edit Course</button>
<button (click)="delete()" class="btn btn-danger">Delete</button>

<table class = "table table-striped">
  <tr>
    <th></th>
    <th>Course ID</th>
    <th>Classroom ID</th>
    <th>Subject ID</th>
    <th>Period</th>
    <th>Time</th>

  </tr>
  <tr *ngFor="let course of courses">
    <td><input type="radio" name="user" (click)="onToggle(course.courseId)"></td>
    <td>{{course.courseId}}</td>
    <td>{{course.classroom.classroomId}}</td>
    <td>{{course.subject.subjectId}}</td>
    <td>{{course.period}}</td>
    <td>{{course.time}}</td>
  </tr>
</table>
<br/>
