<h4>Add User</h4>

<form (ngSubmit)="addUser()">
  <input name="username" type="text" [(ngModel)]="user.username" placeholder="Username">
  <br>
  <input name="password" type="text" [(ngModel)]="user.password" placeholder="Password">
  <br>
  <input name="firstName" type="text" [(ngModel)]="user.firstName" placeholder="First name">
  <br>
  <input name="lastName" type="text" [(ngModel)]="user.lastName" placeholder="Last name">
  <br>
<button type="submit" class="btn btn-primary" >Add</button>
</form>

