<h2>User management</h2>
<button (click)="openUserDetailsPage()" class="btn btn-primary">Details</button>
<button (click)="openRegisterUserPage()" class="btn btn-primary">Create User</button>
<button (click)="openEditUserPage()" class="btn btn-primary">Edit User</button>
<button (click)="delete()" class="btn btn-danger">Delete</button>

<table class = "table table-striped">
  <tr>
    <th></th>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Password</th>
    <th>Role</th>
  </tr>
  <tr *ngFor="let user of users">
    <td><input type="radio" name="user" (click)="onToggle(user.id)"></td>
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>{{user.role.id}}</td>
  </tr>
</table>
<br/>
