<h4>Edit course</h4>
<form (ngSubmit)="update()">
  <label>Course ID:</label>
  <input type="number" name="courseId" placeholder="Course ID" [(ngModel)]="courseToUpdate.courseId">
  <br/>
  <label>Classroom ID:</label>
  <input type="number" name="classroomId" placeholder="Subject ID" [(ngModel)]="courseToUpdate.classroom.classroomId">
  <br/>
  <label>Subject ID:</label>
  <input type="number" name="subjectId" placeholder="Subject ID" [(ngModel)]="courseToUpdate.subject.subjectId">
  <br/>
  <label>Period:</label>
  <input type="text" name="period" placeholder="Period" [(ngModel)]="courseToUpdate.period">
  <br/>
  <label>Time:</label>
  <input type="datetime-local" name="lastName" placeholder="Last name" [(ngModel)]="courseToUpdate.time">
  <br/>
  <button type="submit" >Save changes</button>
</form>
