<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">

    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>

    <li class = "nav-item">
      <a routerLink="users" routerLinkActive="active" class="nav-link" >User List</a>
    </li>

    <li class = "nav-item">
      <a routerLink="course-list" routerLinkActive="active" class="nav-link" >Course List</a>
    </li>


  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
    <span>All Rights Reserved 2020 @Dominykas</span>
  </div>
</footer>
