<h4>Add course</h4>
<form (ngSubmit)="addCourse()">
  <input name="courseId" type="number" [(ngModel)]="course.courseId" placeholder="Course ID">
  <br/>
  <input name="classroomId" type="number" [(ngModel)]="course.classroom.classroomId" placeholder="Classroom ID">
  <br/>
  <input name="subjectId" type="number" [(ngModel)]="course.subject.subjectId" placeholder="Subject ID">
  <br/>
  <input name="period" type="text" [(ngModel)]="course.period" placeholder="Period">
  <br/>
  <input name="time" type="datetime-local" [(ngModel)]="course.time" placeholder="">
  <br/>
  <button type="submit">Add</button>
</form>
