
<h3> View Course Details</h3>

<div>
  <div>
    <label> <b> Course ID: </b></label> {{course.courseId}}
  </div>
  <div>
    <label> <b> Classroom ID: </b></label> {{course.classroom.classroomId}}
  </div>
  <div>
    <label> <b> Subject ID: </b></label> {{course.subject.subjectId}}
  </div>
  <div>
    <label> <b> Period: </b></label> {{course.period}}
  </div>
  <div>
    <label> <b> Time: </b></label> {{course.time}}
  </div>

</div>
