@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: blue;
  text-align: center;
  color: white
}
  .btn-primary{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

